.Header-container {
    background-color: rgb(135, 206, 235);
}



h1 {
    font-style: italic;
    font-family: cursive;
}


.Jumbotron-container {
    background-color: white;
}

.jheading {
    color: rgb(135, 206, 235);
}

.jparagraph {
    max-width: 600px;
    margin: auto;
}


.skills {
    background-color: white;
    margin: auto;
}

.skillsh1 {
    color: rgb(135, 206, 235);
    margin: 20px;
}

.webdev{
    margin-bottom: 20px;
}

.skill-card {
    background: white;
    border-radius: 10px;
}



.skills-img {
    border: 4px solid black;
    border-radius: 8px;
}



.Contact {
    background-color: white;
}

.Contact h2,
.Contact h5 {
    color: rgb(135, 206, 235);
}



.footer-container {
    background-color: rgb(135, 206, 235);
}
